body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #ADFF66;
 }

 main {
   flex: 1 0 auto;
 }

#biggersize {
  width: 100%;
	margin: 8px auto;
  /*max-width: 600px;*/
  max-height: 100vh;
}

#size {
    width: 100%;
  	position: relative;
    padding-bottom: 140%;
  	background: mintcream;
    }

.tc {
  background: #2C90D0 !important;
}


#map {
  position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
  padding: 0;
	text-align: center;
  box-sizing: padding-box;
  font-size: 0;
  border: 0px;
}

nav {
  background-color: #2C90D0;
}

.card-content {
  background-color: #F7BC3D;
}
